<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scscyber.fur.mybatis.mapper.ManufacturerMapper">
    <select id="getAllManufacturer" resultType="Manufacturer">
        SELECT
            MANUFACTURER_ID
             , MANUFACTURER_NAME
             , ADDRESS
             , COUNTRY
             , CITY
        FROM
            MANUFACTURERS
        WHERE 1 = 1
            AND DELETED_YN = 'N'
    </select>
</mapper>